.users{
  &__card:not(:last-child){
    margin-bottom: 20px;
  }
}

.filter-roles{
  width: fit-content;
  height: 100%;
  display: flex;
  margin: 0 -12px;
  &__item{
    width: fit-content;
    height: 100%;
    margin: 0 12px;
  }
}