@import "colors";

body {
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__navbar {
    background: white;
    //background: rgb(249, 250, 252);
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px 2px $grey_2;
    z-index: 1;
  }

  &__content {
    margin-top: 51px;
    flex-grow: 1;
  }
}

.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}


.page-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;


  main.page-content__main {
    flex-grow: 1;
    //background: $grey_1;
  }

  footer.page-content__footer {
    padding: 30px 0;
    background: $grey_2;
    box-shadow: 0 5px 10px 2px rgba(0, 33, 55, 0.05) inset;
  }
}



