@import "colors";

.p {
  padding: 20px 0;
  display: flex;

  &__menu {
    min-width: 150px;
    flex-grow: 1;
    position: relative;
    margin-right: 40px;
  }

  &__content {
    flex-grow: 1;

  }
}

.p-content {
  &__breadcrumbs{
    font-size: 14px;
    color: $grey_3;
    &_top{
      margin-bottom: 20px;
    }
    &_bottom{
      margin-top: 20px;
    }

  }

  &__title {
    margin-bottom: 20px;
  }

  &__inner {
    &_white{
      background: white;
      box-shadow: 0px 5px 10px 2px rgba(51, 8, 103, 0.07);
      border-radius: 8px;
      padding: 30px;
    }
  }
}