@import "colors";

h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
  color: $primary;
}

p, div{
  color: $main_font;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

p{
  margin-bottom: 20px;
}