@import "../../../styles/ui/colors";

//.projects-menu{
//  margin-bottom: 40px;
//  &__item{
//    border: 2px solid $primary;
//    display: inline-block;
//    padding: 5px 15px;
//    border-radius: 8px;
//  }
//  &__item:hover{
//    background: rgba(48, 207, 209, 0.2);
//    cursor: pointer;
//    color: $primary;
//  }
//}


.projects{
  &__item:not(:last-child){
    margin-bottom: 10px;
  }
}

//.project{
//  background: white;
//  box-shadow: 0px 5px 10px 2px rgba(51, 8, 103, 0.07);
//  border-radius: 8px;
//  padding: 30px;
//
//  display: flex;
//  justify-content: space-between;
//
//  &__title{
//    font-weight: 700;
//    font-size: 20px;
//  }
//  &__date{
//    color: $grey_3;
//    font-size: 14px;
//  }
//  &__open{
//    margin-top: 10px;
//    margin-bottom: 10px;
//  }
//}

.add-project {
  border: none;
  //background: #91a5af;
  //background: rgba(61, 109, 253, 1);
  background: #7042ee;
  //background-color: #00DBDE;
  //background-image: linear-gradient(-45deg, #00DBDE 0%, #FC00FF 100%);

  padding: 10px 5px;
  margin: 0;
  outline: none;
  transition: all ease-in-out 0.2s;
  //border-radius: 50%;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  width: 100%;
  color: #f5f9fa;


  &:hover{
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 0 0.2rem rgba(61, 109, 253, 0.15);


  }
  &:active{
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 0 0.2rem rgba(61, 109, 253, 0.25);

  }
}




//.img-pr {
//  -webkit-animation-name: rotation;
//  -webkit-animation-duration: 20s;
//  -webkit-animation-iteration-count: infinite;
//  -webkit-animation-timing-function: linear;
//  -moz-animation-name: rotation;
//  -moz-animation-duration: 20s;
//  -moz-animation-iteration-count: infinite;
//  -moz-animation-timing-function: linear;
//  -o-animation-name: rotation;
//  -o-animation-duration: 20s;
//  -o-animation-iteration-count: infinite;
//  -o-animation-timing-function: linear;
//  animation-name: rotation;
//  animation-duration: 20s;
//  animation-iteration-count: infinite;
//  animation-timing-function: linear;
//}
//
//@-webkit-keyframes rotation {
//  0% {-webkit-transform:rotate(0deg);
//    -moz-transform:rotate(0deg);
//    -o-transform:rotate(0deg);
//    transform:rotate(0deg);}
//  100% {-webkit-transform:rotate(360deg);
//    -moz-transform:rotate(360deg);
//    -o-transform:rotate(360deg);
//    transform:rotate(360deg);}
//}
//@-moz-keyframes rotation {
//  0% {-webkit-transform:rotate(0deg);
//    -moz-transform:rotate(0deg);
//    -o-transform:rotate(0deg);
//    transform:rotate(0deg);}
//  100% {-webkit-transform:rotate(360deg);
//    -moz-transform:rotate(360deg);
//    -o-transform:rotate(360deg);
//    transform:rotate(360deg);}
//}
//@-o-keyframes rotation {
//  0% {-webkit-transform:rotate(0deg);
//    -moz-transform:rotate(0deg);
//    -o-transform:rotate(0deg);
//    transform:rotate(0deg);}
//  100% {-webkit-transform:rotate(360deg);
//    -moz-transform:rotate(360deg);
//    -o-transform:rotate(360deg);
//    transform:rotate(360deg);}
//}
//@keyframes rotation {
//  0% {-webkit-transform:rotate(0deg);
//    -moz-transform:rotate(0deg);
//    -o-transform:rotate(0deg);
//    transform:rotate(0deg);}
//  100% {-webkit-transform:rotate(360deg);
//    -moz-transform:rotate(720deg);
//    -o-transform:rotate(360deg);
//    transform:rotate(360deg);}
//}

