@import "../../../../styles/ui/colors";

.mobile-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  &__row{

  }
  &__logo{
    margin-bottom: 10px;
  }
  &__link{
    padding: 20px 10px;
    background: #f5f9fa;
    border-radius: 2px;
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 2px;
    }
    &:hover{
      background: #e2e8f0;
      cursor: pointer;
    }
  }
}

