.wrapper {
  font-family: 'Raleway', sans-serif;
  background: #f5f9fa;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //background-attachment: fixed; background-repeat: repeat; background-image: url("http://www.pattern4site.ru/images/texture/_rebig/70-fon-dlya-sayta.png"); background-position: left top;



  &.with-pattern{
    background-attachment: fixed; background-repeat: repeat; background-image: url("http://www.pattern4site.ru/images/texture/_rebig/35-fon-dlya-sayta.png"); background-position: left top;
  }

  &__header {

  }

  &__main {
    margin: 50px 0;
  }

  &__footer {
    min-height: 400px;
    //background: rgba(0, 0, 0, .2);
    background: #4c5866;
    margin-top: auto;
    padding: 40px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset;
  }

  &__aside {
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    background: white;
    transition: left ease-in-out 0.3s;
    padding: 5px 60px;

    &.closed {
      left: -600px;
    }

    &.opened {
      left: 0;
      box-shadow: 30px 0px 57px 13px rgba(34, 60, 80, 0.32);
    }

    button.close-button{
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }
}

.wrapper__aside_1.opened {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .wrapper__aside {
    width: 100%;
    padding: 5px 5px;

    &.closed {
      left: -100%;
    }

  }
}