.wrapper{
  font-family: 'Raleway', sans-serif;
  background: #f5f9fa;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header{

  }

  &__main{
    margin: 50px 0;
  }

  &__footer{
    min-height: 400px;
    background: rgba(0,0,0,.2);
    margin-top: auto;
    padding: 40px 0;
  }

  &__aside{
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    //left: 0;
    background: red;
    transition: left ease-in-out 0.3s;

    &.closed{
      left: -600px;
    }

    &.opened{
      left: 0;
    }
  }

}