.welcome{
  padding: 20px 0;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  &__name{
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
  }

  &__role{

  }
}

.user-role-label{
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px 2px;
  padding: 7px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  background-image: radial-gradient(circle farthest-corner at 10% 20%, #08ceff 0%, rgba(102, 102, 255, 1) 90%);
    //background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );

  //&.admin{
  //  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
  //}
  //&.user{
  //  background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
  //}
}


.projects-card{
  border-radius: 8px;
  //box-shadow: rgba(50, 50, 93, 0.05) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
  background: white;
  padding: 40px;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 40px 80px -20px, rgba(0, 0, 0, 0.3) 0px 20px 50px -30px;
  transition: all ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;


  &__title{
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;

    //background: #FF08E9;
    //background: -webkit-repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
    //background: -moz-repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
    //background: repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
  }

  &__body{
    line-height: 1.4;
  }

  &__number{
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    opacity: 0.5;
    top: 0px;
    right: 10px;
    background: #b2b2ff;
    background: -webkit-repeating-linear-gradient(to right, #b2b2ff 0%, #89d2e5 100%);
    background: -moz-repeating-linear-gradient(to right, #b2b2ff 0%, #89d2e5 100%);
    background: repeating-linear-gradient(to right, #b2b2ff 0%, #89d2e5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out;
  }

  &__footer{
    margin-top: 40px;
    button{
      outline: none;
      border: none;
      //background-image: radial-gradient(circle farthest-corner at 10% 20%, #FF08E9 0%, #6666FF 90%);
      color: white;
      padding: 10px 30px;
      border-radius: 40px;

      background-size: 300% 100%;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-image: linear-gradient(to right, #FF08E9, #6666FF, #08ceff, #6666FF);
      font-weight: 600;
    }
  }

  &:hover{
    box-shadow: none;
    background: transparent;
    transition: all ease-in-out 0.5s;

    button{
      cursor: pointer;
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

  }
}

.projects-card:hover .projects-card__number{
  opacity: 1;
  transition: all .4s ease-in-out;

  background: #FF08E9;
  background: -webkit-repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
  background: -moz-repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
  background: repeating-linear-gradient(to right, #FF08E9 0%, #6666FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






.email{
  //border: 5px dotted rgba(200, 12, 232, 0.5);
  //padding: 20px;
}