@import "reset";

@for $i from 0 through 60 {
  .mb-#{$i} {
    margin-bottom: 2px * $i;
  }

  .mt-#{$i} {
    margin-top: 2px * $i;
  }

  .mr-#{$i} {
    margin-right: 2px * $i;
  }

  .ml-#{$i} {
    margin-left: 2px * $i;
  }
}

.height-100{
  height: 100%;
}

.transparent-button{
  background: transparent;
  outline: none;
  border: none;
  transition: all ease-in-out 0.4s;
  &:hover{
    transform: scale(1.2);
    transition: all ease-in-out 0.4s;
  }
}