@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
.a4{
  background: white;
  margin: 30px;

  font-family: 'Noto Sans', sans-serif !important;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #004851;
  font-weight: 400;
  letter-spacing: -0.1px;
  width: 700px;
  height: 991px;
  box-shadow: 0px 1px 2px 0px rgba(34, 60, 80, 0.3);


  .logo{
    padding-left: 3px;
    margin-bottom: 20px;
  }
}

.text-bold{
  font-weight: 800;
}

.text-blue{
  //color: #0433ff;
  color: blue;
}

.text-orange{
  //color: #0433ff;
  color: darkorange;
}

.small-ls{
  //letter-spacing: -0.2px;
}

.top{
  display: flex;
  width: 100%;
  font-size: 12px;
  &__item{
    padding: 0 3px;
    justify-content: space-between;
    flex: 1 1 50%;
  }
}

.top-item{
  &__row{
    padding: 3px 0;
  }
}


.attrs {
  margin: 0;
  overflow: hidden;
}
.attrs dt {
  margin: 0;
  padding: 3px 0;
  width: 175px;
  float: left;
  clear: both;
}
.attrs dd {
  margin: 0 0 0 175px;
  padding: 3px 0;
}

.table{
  margin-top: 15px;
  font-size: 12px;
  &__row{

  }
}

.t-row{
  display: flex;
  border-bottom: 1px solid #0097a9;
  padding: 5px 3px;
  &__col{
    //padding-left: 2px;
  }
  &__col:nth-child(1){
    flex: 1 1 15%;
  }
  &__col:nth-child(2){
    flex: 1 1 calc(45%/3);
  }
  &__col:nth-child(3){
    flex: 1 1 calc(45%/3);
  }
  &__col:nth-child(4){
    flex: 1 1 calc(45%/3);
  }
  &__col:nth-child(5){
    flex: 1 1 40%;
  }

}


.t2-row{
  display: flex;
  border-bottom: 1px solid #0097a9;
  padding: 5px 3px;
  &__col{
    //padding-left: 2px;
  }
  &__col:nth-child(1){
    flex: 1 1 30%;
  }
  &__col:nth-child(2){
    flex: 1 1 20%;
  }
  &__col:nth-child(3){
    flex: 1 1 20%;
  }
  &__col:nth-child(4){
    flex: 1 1 30%;
  }
}

.hints{
  margin-top: 5px;
  font-size: 11px;
  &__item:first-child{
    margin-bottom: 10px;
  }
}