@import "../../styles/ui/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //position: relative;


  &__section {

  }
}

.navbar-section {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}


.d-menu-btn {
  display: flex;
  align-items: center;

  border-radius: 50%;
  padding: 5px;
  &:hover{
    background: rgba(255,255,255,0.1);
  }
  &__icon{

  }
}


.dropdown {
  box-shadow: none;
  //border: none;
  z-index: 0;
  position: absolute;
  background: transparent;
  //max-width: 1130px;
  //width: 1130px;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;

  width: 100%;

  &_opened {
    z-index: 1;
    height: 400px;
    //padding: 20px;
    transition: height linear 0.2s;
    //border-bottom-left-radius: 50px;
    //border-bottom-right-radius: 50px;
    background: $white;
    box-shadow: 0px 0px 60px 0px rgba(30, 46, 66, 0.3);
    //border-bottom: 1px solid rgba(30, 46, 66, 0.1);
    box-sizing: border-box;


  }

  &_bottom {
    top: 40px;
    left: 0;
    //top: calc(100% + 16px);
    //left: calc(100% + 50px);
    //transform: translateX(calc(-100% + 50px));
  }
}


// меню
.menu {
  //padding: 0 10px;
  height: 100%;

  &__top {
    padding: 20px 0;
    background: $grey_1;


    //margin-bottom: 40px;
  }

  &__body{
    height: calc(100% - 70px);
    box-sizing: border-box;
    background: $grey_1;

  }

  &__center {
    margin-bottom: 40px;

  }

  &__footer {
    margin-top: 40px;
  }
}

.user-greetings{
  //border-bottom: 3px solid $primary;
  span{
    margin-right: 20px;
  }
}
.hide-menu{
  //display: flex;
  //align-items: center;
  &:hover{
    cursor: pointer;
  }
}

.menu-top, .menu-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-logout {
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: $grey_2;
  padding: 0 15px;
  border: 1px solid $grey_2;

  &:hover{
    cursor: pointer;
    background: $grey_1;
  }

  &__text {
    font-size: 14px;
  }
}

.menu-center {
  background: $grey_3;
  //margin: -15px;

  &__item {
    //padding: 15px;
    flex: 1 1 100%;
    position: relative;
  }
  &__item:not(:last-child) {
    //border-right: 1px solid $grey_2;
  }

  //&__item:after{
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: $grey_2;
  //  z-index: 100000000;
  //}

  &__item:hover{
    //background: $grey_1;
  }
}


.menu-link-box {
  //box-shadow: 0 5px 10px 2px $grey_2;
  //border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all ease-in-out 0.5s;

  &_active{
    @extend .menu-link-box;
    box-shadow: none;
    //border: 3px solid $primary;
    //background: $grey_2;
    &__text {

    }
  }

  &_active &__text{
    //color: $primary;
    font-weight: 600;
  }



  &:hover:not(&_active) {
    cursor: pointer;
    box-shadow: none;
    transition: all ease-in-out 0.5s;
    //background: $grey_2;
  }

  &:hover:not(&_active) &__text {
    //color: $primary;
    font-weight: 600;

  }

  &__text{
    margin-top: 20px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 300;
  }
}


.logo {
  color: $grey_1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}




.links{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  &__item{
    flex: 1 1 calc(100% / 3);
    box-sizing: border-box;

  }
}

.link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 10px solid transparent;
  box-sizing: border-box;
  background: $grey_1;
  transition: all ease-in-out 0.2s;
  //border-top: 1px solid transparent;
  //border-left: 1px solid transparent;
  //border-right: 1px solid transparent;
  font-weight: 300;


  &__img{
    //margin-top: -50px;
    display: flex;
    height: 80px;
  }
  &__text{
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.47059;
    text-align: center;
    font-weight: inherit;
    color: inherit;
  }
  &:hover{
    border-bottom-color: #66f;
    box-shadow: 0px 0px 10px 5px rgba(102, 102, 255, 0.1);
   background: white;
    z-index: 1000;
    transform: scale(1.01);
    //transform: scaleY(-1.05);
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    //border-top-color: $grey_2;
    //border-left-color: $grey_2;
    //border-right-color: $grey_2;
  }

  &_active{


    background: white;
    border-top: 1px solid #66f;
    border-left: 1px solid #66f;
    border-right: 1px solid #66f;
    font-weight: 600;
    border-bottom-color: #66f;

    //transform: scaleX(1.05);

  }
}

