@import "../../styles/ui/colors";

.block{
  &__title{
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    margin-bottom: 20px;
    color: $grey_3;
  }
}

.b-body{
  &__title{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__addition{
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    margin-bottom: 26px;
  }
  &__button{
    button{

    }

  }
}