@import "../../styles/ui/colors";

.confirmation{
  background: rgba(255, 153, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
  //box-shadow: 0 2px 5px 1px $grey_2;

  background-image: linear-gradient( 177.8deg,  rgba(239, 212, 7, 0.7) 9.2%, rgba(255, 162, 0,0.7) 86.8% );
  //box-shadow: 0px 5px 21px 0px rgba(255, 158, 0, 0.6);

  //border-left: 10px solid #ff6f00;

  &__title{
    color: white !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text{
    //color: #494949;
  }
  &__button{
    display: flex;
    align-items: center;
    input{
      background: rgba(0,0,0,0.07);
      padding: 10px 20px;
      border: none;
      outline: none;
      border-radius: 8px;
      margin-right: 20px;
      font-family: 'Nunito', sans-serif;
      color: white;
      letter-spacing: 12px;
      font-weight: 700;
      &:focus{
        background: rgba(0,0,0,0.12);
      }
    }
    button{
      width: 40px;
      height: 40px;
      padding: 0px;
      line-height: 40px;
      border: none;
      outline: none;
      background: transparent;
    }
  }
  &__button2{
    button{
      border: none;
      outline: none;
      font-family: 'Nunito', sans-serif;
      padding: 5px 20px;
      background: rgba(255,255,255,0.9);
      border-radius: 8px;
      font-weight: 700;
      color: rgba(255, 153, 0, 1);
      box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);

      &:hover{
        box-shadow: none;
        cursor: pointer;
        background: rgba(0,0,0,0.1);
        color: white;

      }
    }
  }

}
