@import "../../../styles/ui/colors";

.text-input-wrapper{
  &__label{
    color: rgba(255,255,255,0.7);
    padding: 0 20px;
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

  }

  &__input{
    position: relative;
    .clear-button{
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
  }

  &__errors{
    padding: 0 20px;
    //color: magenta;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 600;

  }
}

.text-input{
  background: rgba(255,255,255,0.2);
  border: none;
  transition: all ease-in-out 0.2s;
  padding: 10px 50px 10px 20px;
  width: 100%;
  border-radius: 20px;
  color: white;
  font-weight: 500;

  &:hover{
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
    background: rgba(255,255,255,0.5);
  }
  &:active{
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    background: rgba(255,255,255,0.5);
  }

}