@import "../ui/colors";

.table{

  box-shadow: 0 2px 5px 1px $grey_2;
  border-radius: 8px;



  &__header{


  }
  &__body{

  }
  &__footer{

  }
}

.header{
  border-bottom: 1px solid $grey_2;
}

.header .row__col{
  color: $grey_3;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.body .row__col{
  font-size: 16px;
}

.body{
  &__row:nth-child(even){
    background: $grey_1;
  }
}

.row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10px;
  &__col{
    //border: 1px solid red;
    align-self: stretch;
    align-items: center;
    padding: 8px 4px;
  }
  &__col:first-child{
    flex: 0 0 60px;
  }
  &__col:last-child{
    flex: 0 0 60px;
    align-items: center;
  }
  &__col:not(:first-child):not(:last-child){
    flex: 0 0 calc((100% - 120px)/3);
  }

}

.hidden{
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  opacity: 0.5;
}